body{
	padding:0;
	margin:0;
	border: 0;
}
img.tag{
	
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    margin-left: 45%;
    
}
div.a{
	background-color: rgb(88, 0, 211);
	padding-top: 16px;
	padding-bottom: 1%;
	box-shadow: 1px 1px 6px;
}
#demo{
	text-align: center;
	padding-right: 30px;
	font-family: arial;
	font-size: 14px;
	color:white;
	margin-bottom: 0;
}
.skills {
	padding-right: 30%;
	margin-left: 39.3%;
	margin-top: 5px;
}
.skills li {

    background-color: rgb(255, 198, 0);
    display: inline-block;
    padding: 2px;
    margin-left: 35px;
    text-align: center;
    border: 2px solid black;
    font-family: verdana;
    font-size: 12px;
    border-radius: 15px;
    color : black ;
    transition: background-color 0.4s, color 0.4s, transform 0.6s;


}
.skills li:hover {
    background-color:#708090;
    color: white;
    cursor: default;
    transform: scale(1.1);
}
.list {
	padding-right: 10%;
	margin-left: 10%;
	margin-top: 34px;

}
.list li {

    background-color: rgb(255, 31, 62);
    display: inline-block;
    padding: 8px;
    margin-left: 31px;
    text-align: center;
    border: 2px solid black;
    font-family: verdana;
    font-size: 23px;
    border-radius: 15px;
    color : black ;
    transition: background-color 0.4s, color 0.4s, transform 0.6s;


}
.list li:hover {
    background-color:rgb(255, 165, 72);
    color: white;
    cursor: default;
    transform: scale(1.1);
}
h5 {
   width: 71%; 
   text-align: left; 
   border-bottom: 3px solid #D8D8D8; 
   line-height: 0.1em;
   margin:30px;
   margin-left: 15%; 
   font-size: 21px;
   font-family: arial;
   color: rgb(88, 0, 211);

} 

h5 span { 
    background:#fff; 
    margin-right: 10px; 
    padding-right: 10px;

}
a{
	text-decoration: none;
	color: black;
}
#para{
	margin-left: 15%;
	padding-top: 1%;
	font-size: 20px;
	font-family: arial;
}